/* Note that the below CSS expects these variables. You should add the below block into your CSS. 
If you already have a :root block because you are using the theme switcher, 
then the below needs to be added to each css file per theme

In some cases, classes using VARS may not be present on your system, and you'll need (for example) to substitute
border-color: transparent transparent transparent var(--bs-body-navbar) !important; withh border-color: transparent transparent transparent #cccccc !important;
etc etc...
*/

    :root {
    --bs-post-category-wrapper: #16181b;
    --bs-post-category-wrapper-radius: 0.375rem;
    --bs-post-category-wrapper-padding: 20px;
    --bs-post-category-wrapper-margin: 20px;
    }

/* Add this CSS to the threaded classes you already have if you are using the post threading */

/* Threaded Chat CSS */

    @media (min-width: 576px) {
    [component=post], [component="category/topic"], [component="categories/category"], li[component="chat/message"], [component="chat/recent/room"], div#users-container a {
    background: var(--bs-post-category-wrapper);
    border-radius: var(--bs-post-category-wrapper-radius);
    margin-bottom: var(--bs-post-category-wrapper-margin);
    border: 1px solid var(--bs-border-color);
    }
    }
    [data-self="1"].threaded {
        width: 50%;
        float: right;
        margin-right: 5% !important;
        transition: margin-left 0.3s ease, margin-right 0.3s ease;
        position: relative;
        padding-bottom: 20px !important;
    }
    [data-self="1"].threaded::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 20px;
        width: 0;
        z-index: 1;
        right: -30px;
        border-width: 15px 15px 15px 0;
        border: 15px solid var(--bs-body-navbar);
        border-color: transparent transparent transparent var(--bs-body-navbar) !important;
    }
    [data-self="0"].threaded {
        width: 50%;
        float: left;
        margin-left: 5% !important;
        transition: margin-left 0.3s ease, margin-right 0.3s ease;
        position: relative;
        padding-bottom: 20px !important;
    }
    [data-self="0"].threaded::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 20px;
        width: 0;
        z-index: 1;
        left: -30px;
        border-width: 15px 15px 15px 0;
        border: 15px solid var(--bs-body-navbar);
        border-color: transparent var(--bs-body-navbar) transparent transparent !important;
    }
    [component="chat/message"] {
        transition: margin-left 0.3s ease, margin-right 0.3s ease;  
    }
    [data-self="1"][component="chat/message"] .message-body-wrapper.threaded {
        float: right;
    }
    [data-self="1"][component="chat/message"] .message-header.threaded{
        float: right;
    }
    [component="chat/message/controls"] {
        top: 30px;
    }
